html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif; /* Modern font */
    background-color: #f5f5f5; /* Neutral light gray */
    color: #333333; /* Dark gray text */
}
* {
    box-sizing: border-box;
}
